<div class="container-lg">
  <div class="table-wrapper">
    <div class="table-title">
      <h3>Employees waiting for Activation:</h3>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let e of employees">
        <td>{{ e.id }}</td>
        <td>{{ e.firstName }}</td>
        <td>{{ e.lastName }}</td>
        <td>{{ e.deptId }}</td>
        <td><button class="btn btn-primary" (click)="activateEmp(e.id)">Activate</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
