
<div class="container">
  <h1>Test App SSY</h1>
  <br>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLinkActive="active" routerLink="/departments">Add Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLinkActive="active" routerLink="/overview">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLinkActive="active" routerLink="/activation">Activation</a>
    </li>
  </ul>
  <br>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
